<div class="news">
  <h2><strong>News</strong></h2>
  {% if site.news != blank -%}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {%- assign news = site.news | reverse -%}
      {% for item in news limit: site.news_limit %}
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
  {%- else -%}
  <!-- <p>No news so far...</p> -->
  <div style="background-color: #e4c2f68b;">
  <ul>
    <li><time datetime="2025-07"><i>2025.07:</i></time> <strong>(Paper)</strong> MirrorNet and LADR accepted to NSDI'26. Congratulations!</li>
    <li><time datetime="2025-06"><i>2025.06:</i></time> <strong>(Paper)</strong> Ares accepted to SECURITY'25. Congratulations!</li>
    <li><time datetime="2025-04"><i>2025.04:</i></time> <strong>(Paper)</strong> Fornax accepted to SIGCOMM'25. Congratulations!</li>
    <li><time datetime="2025-04"><i>2025.04:</i></time> <strong>(Service)</strong> I will serve on the PC for SIGCOMM NGNO and FMANO workshop. Please consider to submit!</li>
    <li><time datetime="2025-01"><i>2025.01:</i></time> <strong>(Service)</strong> I'll serve on the PC for NSDI'26. Please consider to submit!</li>
    <li><time datetime="2024-12"><i>2024.12:</i></time> <strong>(Paper)</strong> Holmes and P-ECMP accepted to NSDI'25. Congratulations! </li>
    <li><time datetime="2024-05"><i>2024.05:</i></time> <strong>(Paper)</strong> MegaTE and Turbo accepted to SIGCOMM'24. Congratulations! </li>
    <li><time datetime="2024-04"><i>2024.04:</i></time> <strong>(Service)</strong> I will serve on the PC for SIGCOMM HotOptics and FMANO workshop. Please consider to submit!</li>
    <li><time datetime="2024-02"><i>2024.02:</i></time> <strong>(Service)</strong> I'll serve on the PC for NSDI'25. Please consider to submit! </li>
  </ul>
</div>
  {%- endif %}
</div>