<h2><strong>Research interest</strong></h2>
<p>My research aims at building high-performance and reliable networking systems for various cloud applications, such as large language model and big data analytics in the hyper-scale and complex cloud. Towards this vision, my research takes a cross-layer approach to co-design different stacks of the networking system: from hardware and software disaggregation to hardware-software co-design, from optical physical layer to cloud network layer, from mathematical methodology to network system implementation. 
</p>

<p>
    Some highlights are:
</p>

<p>
    Wide-area network: Cross-Layer (Application/IP/Optical) Resource Allocation and Traffic Engineering
    
    <ul>
        <li> MegaTE [SIGCOMM 2024]: the first TE system that manages fine-grained flows between millions of VMs or containers. </li>
        <li> FlexWAN [SIGCOMM 2023]: a hardware-software optical system that supports reconfigurable fiber spectrum allocation for wide-area networks. </li>
        <li> OpTel [NSDI 2022]: a first optical telemetry system that collect production-level optical layer data at one-second granularity. </li>
    </ul>
       
    Cloud Data Center Networks:
    <ul>
        <li> Turbo [SIGCOMM 2024]: an efficient communication framework for the large-scale data processing cluster with hundreds to thousands of nodes.
        <li> Quicksync [Mobicom 2015]: an efficient synchronization system for mobile cloud storage.
        <li> Octans [TPDS 2021]: a high-performance service function chains in many-Core Systems. 
    </ul>
    
    Mathematical methodology - AI for Network
    <ul>
        <li> ACN [WSDM 2020], PDSTN [WSDM 2021]: an efficient neural network framework for wireless user mobility.
        <li> BDAC [ICNP 2019]: a first behavior-aware Dynamic Adaptive Configuration on DHCP in Wireless LANs.
    </ul>

</p>