<h2><strong>Research interest</strong></h2>
<div style="background-color: #e4c2f68b;">
<p>My research aims at building high-performance and reliable networking systems for various cloud applications, such as large language model and big data analytics in the hyper-scale and complex cloud. Towards this vision, my research takes a cross-layer approach to co-design different stacks of the networking system: from hardware and software disaggregation to hardware-software co-design, from optical physical layer to cloud network layer, from mathematical methodology to network system implementation. 
</p>

<p>
    Some highlights are:
</p>

<p>
    Wide Area Networks: Cross-Layer (Application/IP/Optical) Resource Allocation and Traffic Engineering
    
    <ul>
        <li> MirrorNet [NSDI 2026]: a twin of the production network for daily management. </li>
        <li> PreTE [SIGCOMM 2025]: a novel traffic engineering system which factors in the dynamic fiber cut probabilities directly through prediction. </li>
        <li> MegaTE [SIGCOMM 2024]: the first TE system that manages fine-grained flows between millions of VMs or containers. </li>
        <li> FlexWAN [SIGCOMM 2023]: a hardware-software optical system that supports reconfigurable fiber spectrum allocation for wide-area networks. </li>
        <li> OpTel [NSDI 2022]: a first optical telemetry system that collect production-level optical layer data at one-second granularity. </li>
    </ul>
       
    Data Center Networks:
    <ul>
        <li> MPCCS [Eurosys 2026]:  exploit scale-up and scale-out networks for LLM training. </li>
        <li> Holmes [NSDI 2025]: a first system focusing on irregularities (instead of failures) during LLM training. </li>
        <li> P-ECMP [NSDI 2025]: leveraging ECMP programmability for precise traffic control. </li>
        <li> Turbo [SIGCOMM 2024]: an efficient communication framework for big data system consisting of hundreds to thousands of nodes. </li>
    </ul>
    
    Cloud/Edge Networks:
    <ul>
        <li>LADR [NSDI 2026]: combining loss avoidance, detection, and recovery to reducing video frame loss in cloud gaming. </li>
        <li>Fornax [SIGCOMM 2025]: shifting management paradigm from software-centric to hardware-centric architecture. </li>
        <li>Tensor [SIGCOMM 2023]: a lightweight approach to implementing BGP non-stop routing. </li>
        <li>Octans [TPDS 2021]: a high-performance service function chains in many-Core Systems. </li>
        <li>Quicksync [Mobicom 2015]: an efficient synchronization system for mobile cloud storage. </li>
    </ul>

</p>
</div>
