
<style>
  .publications-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .publication-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 20px; /* Adjust the space between items */
    max-width: 1200px; /* Maximum width of the content */
    
  }
  
  
  .publication-image {
    flex-shrink: 0;
    /* margin-left: -200px; */
    margin-right: 20px; /* Adjust the space between image and text */
  }
  
  
  /* Adjustments for larger image */
  .publication-image img {
    width:420px; /* Set the width as needed */
    height: auto; /* Height will scale automatically */
  }
  
  .publication-metadata {
    flex-grow: 1;
    margin-right: 20px; /* Adjust the space between text and links */
    width:700px;
  }
  
  .publication-links {
    white-space: nowrap;
    margin-top: 5px; /* Adds space above the links */
  }
  
  .publication-title {
    font-size: 1.5em; /* Adjust the size of the title */
    margin-bottom: 0.5em;
  }
  
  .publication-authors {
    font-size: 1em; /* Adjust the size of the authors list */
    color: #555; /* Adjust the color of the authors list */
    margin-bottom: 0.4em;
  }
  
  .publication-conference {
    font-size: 1em; /* Adjust the size of the conference info */
    color: #777; /* Adjust the color of the conference info */
  }
  
  
  /* You may need to add more styling for links and other elements */
  </style>
  <!-- <h2><strong>Publications</strong></h2> -->
  <div class='publications-wrapper'>

    <div class='publication-item'>
     
      <div class="publication-image">
        <img src="../assets/img/P-ECMP.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <!-- <a href='https://doi.org/10.1145/3603269.3604852'> -->
            <strong> Unlocking ECMP Programmability for Precise Traffic Control</strong>
          <!-- </a> -->
        </h3>
        <p class="publication-authors"> Yadong Liu, Yunming Xiao,
          Xuan Zhang, Weizhen Dang,
          Huihui Liu,
          XiangLi,
          Zekun He,
          Jilong Wang,
          Aleksandar Kuzmanovic,
          Ang Chen, <strong>Congcong Miao</strong></p>
        <div class="publication-conference">
          <a href="https://www.usenix.org/conference/nsdi25/"> <i>ACM NSDI 2025</i></a>
        </div>
  
        <!-- <div class="publication-links"> -->
          <!-- <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> |  -->
          <!-- <a href="https://www.youtube.com/watch?v=J2eEQwMoQD8">Video</a> | 
          <a href="https://yunmingxiao.github.io/publication/tensor/">Code</a> 
        </div> -->
  
      </div>
  
    </div>

    <div class='publication-item'>
     
      <div class="publication-image">
        <img src="../assets/img/Holmes.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <!-- <a href='https://doi.org/10.1145/3603269.3604852'> -->
            <strong> Holmes: Localizing lrregularities in LLM Training with Mega-scale GPU Clusters</strong>
          <!-- </a> -->
        </h3>
        <p class="publication-authors"> Zhiyi Yao, Pengbo Hu, <strong>Congcong Miao</strong>, Xuya Jia, Zuning Liang, Yuedong Xu, Chunzhi He, Hao Lu, Mingzhuo Chen, Xiang Li, Zekun He, Yachen Wang, Xianneng Zou, Junchen Jiang</p>
        <div class="publication-conference">
          <a href="https://www.usenix.org/conference/nsdi25/"> <i>ACM NSDI 2025</i></a>
        </div>
  
        <!-- <div class="publication-links"> -->
          <!-- <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> |  -->
          <!-- <a href="https://www.youtube.com/watch?v=J2eEQwMoQD8">Video</a> | 
          <a href="https://yunmingxiao.github.io/publication/tensor/">Code</a> 
        </div> -->
  
      </div>
  
    </div>

    <div class='publication-item'>
      <div class="publication-image">
        <img src="../assets/img/MegaTE.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <!-- <a href='https://doi.org/10.1145/3603269.3604852'> -->
            <strong> MegaTE: Extending WAN Traffic Engineering to
              Millions of Endpoints in Virtualized Cloud</strong>
          <!-- </a> -->
        </h3>
        <p class="publication-authors"><strong>Congcong Miao</strong>, Zhizhen Zhong, Yunming Xiao, Feng Yang, Senkuo Zhang, Yinan Jiang, Zizhuo Bai, Chaodong Lu, Jingyi Geng, Zekun He,
            Yachen Wang, Xianneng Zou, Chuanchuan Yang</p>
        <div class="publication-conference">
          <a href="https://conferences.sigcomm.org/sigcomm/2024/"> <i>ACM SIGCOMM 2024</i></a>
        </div>
  
        <!-- <div class="publication-links"> -->
          <!-- <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> |  -->
          <!-- <a href="https://www.youtube.com/watch?v=J2eEQwMoQD8">Video</a> | 
          <a href="https://yunmingxiao.github.io/publication/tensor/">Code</a> 
        </div> -->
  
      </div>
  
    </div>

    <div class='publication-item'>
     
      <div class="publication-image">
        <img src="../assets/img/Turbo.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <!-- <a href='https://doi.org/10.1145/3603269.3604852'> -->
            <strong> Turbo: Efficient Communication Framework for
              Large-scale Data Processing Cluster</strong>
          <!-- </a> -->
        </h3>
        <p class="publication-authors">Xuya Jia, Zhiyi Yao, Chao Peng, Zihao Zhao, Bin Lei, Edison Liu,
          Xiang Li, Zekun He, Yachen Wang, Xianneng Zou, Chongqing Zhao, Jinhui Chu, Jilong Wang, <strong>Congcong Miao</strong></p>
        <div class="publication-conference">
          <a href="https://conferences.sigcomm.org/sigcomm/2024/"> <i>ACM SIGCOMM 2024</i></a>
        </div>
  
        <!-- <div class="publication-links"> -->
          <!-- <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> |  -->
          <!-- <a href="https://www.youtube.com/watch?v=J2eEQwMoQD8">Video</a> | 
          <a href="https://yunmingxiao.github.io/publication/tensor/">Code</a> 
        </div> -->
  
      </div>
  
    </div>
   
    <div class='publication-item'>
      <div class="publication-image">
        <img src="../assets/img/2023tensor.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <a href='https://doi.org/10.1145/3603269.3604852'>
            <strong> TENSOR: Lightweight BGP Non-Stop Routing</strong>
          </a> 
        </h3>
        <p class="publication-authors"><strong>Congcong Miao</strong>, Yunming Xiao, Marco Canini, Ruiqiang Dai, Shengli Zheng, Jilong Wang, Jiwu Bu, Aleksandar Kuzmanovic, Yachen Wang</p>
        <div class="publication-conference">
          <a href="https://conferences.sigcomm.org/sigcomm/2023/"> <i>ACM SIGCOMM 2023</i></a>
          </div>
  
        <div class="publication-links">
          <!-- <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> |  -->
          <a href="https://www.youtube.com/watch?v=J2eEQwMoQD8">Video</a> | 
          <a href="https://yunmingxiao.github.io/publication/tensor/">Artifact</a> 
        </div>
        
      </div>
  
    </div>
  </div>

  <div class='publications-wrapper'>
    <div class='publication-item'>
      <div class="publication-image">
        <img src="../assets/img/2023flexwan.png" alt="Publication Image">
      </div>
      <div class="publication-metadata">
        <h3 class="publication-title">
          <a href='https://doi.org/10.1145/3603269.3604824'>
            <strong> FlexWAN: Software Hardware Co-design for Cost-Effective and Resilient Optical Backbones</strong>
          </a>
        </h3>
        <p class="publication-authors"><strong>Congcong Miao</strong>, Zhizhen Zhong, Ying Zhang, Kunling He, Fangchao Li, Minggang Chen, Yiren Zhao, Xiang Li, Zekun He, Xianneng Zou, and Jilong Wang</p>
        <div class="publication-conference">
          <a href="https://conferences.sigcomm.org/sigcomm/2023/"> <i>ACM SIGCOMM 2023</i></a>
          </div>
  
        <div class="publication-links">
          <a href="https://conferences.sigcomm.org/events/apnet2023//slides/apnet23/Industry/miao_FlexWAN_APNET.pdf">Slides</a> | 
          <a href="https://www.youtube.com/watch?v=712VsqKW7-k">Video</a> | 
          <a href="https://github.com/congcongmiao/FlexWAN">Artifact</a> 
        </div>
        
      </div>
  
    </div>
  </div>


  <div class='publications-wrapper'>
    <div class='publication-item'>
      <div class="publication-image">
      <img src="../assets/img/2021Optel.jpg" alt="Publication Image">
      </div>
      <div class="publication-metadata">
      <h3 class="publication-title">
          <a href='https://www.usenix.org/conference/nsdi22/presentation/miao'>
          <strong> Detecting Ephemeral Optical Events with OpTel </strong>
          </a >
      </h3>
      <p class="publication-authors"><strong>Congcong Miao</strong>, Minggang Chen, Arpit Gupta, Zili Meng, Lianjin Ye, Jingyu Xiao, Jie Chen, Zekun He, Xulong Luo, Jilong Wang and Heng Yu</p >
          <div class="publication-conference">
              <a href="https://www.usenix.org/conference/nsdi22"><i>19th USENIX Symposium on Networked Systems Design and Implementation (NSDI 22)</i></a>
              </div>
      
          <div class="publication-links">
              <a href="https://www.usenix.org/system/files/nsdi22_slides_miao.pdf">Slides</a>|
              <a href="https://www.youtube.com/watch?v=2UN3GXeu9fw">Video</a>|
              <a href="">Artifact</a>
          </div>
          
          </div>
      
      </div>
      </div>

      </div>